$imgB:'https://66.media.tumblr.com/ee99d08113d6ad37967107f50a23b6c9/a400c8148dc783f2-74/s640x960/0663f7391092e76588cca2112699f969d858919d.jpg';
#aboutPage {
    background-image: url($imgB);
    background-repeat: space;
    background-color: #F7F7F7;
}