@import "./src/styles.scss";
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
.is-violet {
    background: $violet;
    a {
        font-size: 20px;
        font-weight: bold;
        color: $white-smoke;
        font-family: 'Lexend Deca', sans-serif;
    }
}

.tabs-color {
    color: $white-smoke;
    font-family: 'Lexend Deca', sans-serif;
}