<div class="container">

    <div class="columns">
        <div class="column is-12">
            <h3 class="title is-3 space-title">ABOUT ME
                <i class="far fa-grin-tongue-wink"></i>
            </h3>
            <hr>

            <p>I'm a girl develop, Yes, I'm a girl</p>

            <div class="content">
                <ol class="is-upper-alpha">
                    <li>I enjoy programming.</li>
                    <li>I hated css But, now...
                        <h1 class="no">NO </h1>it's fun!
                    </li>
                    <li>I LOVE romance and action movies</li>
                </ol>
            </div>
        </div>
    </div>

    <app-singers-component></app-singers-component>

    <div class="columns">
        <div class="column is-6">
            <p>And this... is my favorite movies, series, cartoons and other things than I LOVE SO MUCH</p>

            <div class="box" *ngFor="let item of filmFavorite">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img [src]="item.img" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{ item.name }}</strong>
                                <br> {{ item.description }}
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="column is-6">
            <p>And this... is my favorite movies, series, cartoons and other things than I LOVE SO MUCH</p>

            <div class="card">
                <div class="card-content">
                    <p class="title">
                        “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                    </p>
                    <p class="subtitle">
                        Jeff Atwood
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>