<div class="container">
    <div class="columns">
        <div class="column is-6">
            <h1>H E L L O
                <i class="far fa-grin-tongue-wink"></i>
            </h1>

            <h3 class="title is-3">ABOUT ME</h3>
            <hr>
            <p>I'm a girl develop, Yes, I'm a girl</p>

            <ul>
                <li>I enjoy programming.</li>
                <li>I hated css But, now...
                <h1 class="no">NO</h1>
                </li>
            </ul>

            <h3 class="title is-3">MY FAVORITE SINGERS</h3>
            <hr>

            <div class="columns">
                <div class="column is-4">
                    <div class="column has-text-centered">
                        <h4 class="title is-4">Camila Cabello</h4>
                    </div>

                    <div class="column is-center-img">
                        <figure class="image is-128x128">
                        <img class="is-rounded"
                            src="https://66.media.tumblr.com/67a382802ec8a0209afd5b7ef5a2e2c3/tumblr_pne5h5r7K21siv8u7o4_500.jpg">
                        </figure>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="column is-center-img">
                        <figure class="image is-128x128">
                        <img class="is-rounded"
                            src="https://66.media.tumblr.com/5d560c34e299a3e660c082ce4150ef02/tumblr_pe1xovlxXl1siv8u7o5_1280.jpg">
                        </figure>
                    </div>

                    <div class="column">
                        <h4 class="title is-4 has-text-centered">Selena Gomez</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="column">
                        <h4 class="title is-4 has-text-centered">Taylor Swift</h4>
                    </div>
                    <div class="column is-center-img">
                        <figure class="image is-128x128">
                        <img class="is-rounded"
                            src="https://66.media.tumblr.com/69bde8750ae3fc3b0bcf3da544e6d90c/tumblr_ppxvzqEsPQ1u1al2qo5_400.png">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column is-4">
                    <div class="column is-center-img">
                        <figure class="image is-128x128">
                        <img class="is-rounded"
                            src="https://66.media.tumblr.com/591fd1821c4a5f27b561093b40a4d87a/tumblr_ppenqcEuMy1virlct_540.jpg">
                        </figure>
                    </div>
                    <div class="column">
                        <h4 class="title is-4 has-text-centered">Shawn Mendes</h4>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="column">
                        <h4 class="title is-4 has-text-centered">Ed Sheeran</h4>
                    </div>
                    <div class="column is-center-img">
                        <figure class="image is-128x128">
                            <img class="is-rounded"
                                src="https://66.media.tumblr.com/8cc088e400d73d87265929ad0cef398d/tumblr_pcx0zjGJNW1w25ynio7_1280.jpg">
                        </figure>
                    </div>
                </div>

                <div class="column is-4">
                    <div class="column is-center-img">
                        <figure class="image is-128x128">
                        <img class="is-rounded"
                            src="https://66.media.tumblr.com/591fd1821c4a5f27b561093b40a4d87a/tumblr_ppenqcEuMy1virlct_540.jpg">
                        </figure>
                    </div>
                    <div class="column">
                        <h4 class="title is-4 has-text-centered">otro</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-6">
            <p>It will be cool that here, it's my pictures on instagram</p>
        </div>

    </div>
</div>