$white: #FFEEF2;
$pink-white: #FFE4F3;
$pink-subdude: #FFC8FB;
$pink-normal: #F28CCE;
$pink-hight: #FF92C2;
$yankeesBlue: #13293D;
$brightBlue: #1B98E0;
$lapisLazuli: #247BA0;
$paradisepink: #DA4167;
$white: #E8F1F2;